/* ---- GLOBAL STYLE ---- */
body {
    font-family: "Poppins", sans-serif;
    background: #ffe6f2;
    margin: 0;
    padding: 0;
    color: #444;
}

header {
    background: #light plum;
    padding: 20px;
    text-align: center;
    color: white;
    border-bottom: 4px solid #lightcoral;
}

nav {
    display: flex;
    justify-content: center;
    background: lightcoral;
    padding: 10px 0;
    gap: 30px;
    border-bottom: 2px solid lightcoral;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: lightcoral;
    padding: 8px 16px;
    border-radius: 20px;
    transition: 0.3s;
}

nav a:hover {
    background: lightcoral;
}

.container {
    padding: 30px;
    max-width: 900px;
    margin: auto;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(255, 105, 180, 0.2);
    margin-top: 30px;
}

/* Judul Halaman */
h1 {
    color: lightcoral;
    text-align: center;
}


/* Judul Halaman */
h2 {
    color: lightcoral;
    text-align: center;
}

/* Komentar */
.comment-box {
    margin-top: 20px;
}

.comment-box textarea {
    width: 100%;
    height: 120px;
    border: 2px solid lightcoral;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
}

.comment-box button {
    background: lightcoral;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

.comment-box button:hover {
    background: lightcoral;
}
